# Extra
*.params
*.states
*.out
*.swp
.DS_Store
.vscode
*.npy
*.npz
*.json
*.ag
*.xml

# Byte-compiled / optimized / DLL files
__pycache__/
.pytest_cache/
*.py[cod]
*$py.class
*.swp
.DS_Store

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
*.lock
*.dirlock

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py

# Flask stuff:
# instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule

# SageMath parsed files
*.sage.py

# dotenv
.env

# virtualenv
.venv
venv/
ENV/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mypy
.mypy_cache/

*.png*
*.jpg*
*.jpeg*
.idea/*
train/*

!examples/mo_hpo/mo_hyperband_files/mo_hyperband_12_0.png

tutorials/checkpoint/*
tutorials/train/*
examples/image_classification/*.csv
tests/unittests/*.zip
tabular/tests/unittests/datasets

autogluon/src/autogluon/version.py
common/src/autogluon/common/version.py
core/src/autogluon/core/version.py
features/src/autogluon/features/version.py
forecasting/src/autogluon/forecasting/version.py
mxnet/src/autogluon/mxnet/version.py
extra/src/autogluon/extra/version.py
tabular/src/autogluon/tabular/version.py
text/src/autogluon/text/version.py
vision/src/autogluon/vision/version.py

AutogluonModels
VERSION.minor
