attrs==19.3.0
-e git+https://github.com/joshr17/autogluon.git@57d207bcd92c593d0d0b2fe04f24ddd1e90525bd#egg=autogluon
bcrypt==3.1.7
boto3==1.14.23
botocore==1.17.23
catboost==0.23.2
certifi==2020.4.5.1
cffi==1.14.0
chardet==3.0.4
click==7.1.2
cloudpickle==1.5.0
conda==4.8.3
conda-package-handling==1.7.0
ConfigSpace==0.4.10
cryptography==2.9.2
cycler==0.10.0
Cython==3.0a5
dask==2.21.0
decorator==4.4.2
distributed==2.21.0
docutils==0.15.2
featuretools==0.18.0
fsspec==0.8.0
future==0.18.2
gluoncv==0.8.0b20200720
graphviz==0.8.4
HeapDict==1.0.1
idna==2.9
importlib-metadata==1.7.0
jmespath==0.10.0
joblib==0.16.0
kiwisolver==1.2.0
liac-arff==2.4.0
lightgbm==2.3.1
locket==0.2.0
matplotlib==3.3.0
more-itertools==8.4.0
msgpack==1.0.0
mxnet==1.6.0
neo4j==4.1.0
neotime==1.7.4
networkx==2.4
numpy==1.19.0
openml==0.10.2
packaging==20.4
pandas==0.25.3
paramiko==2.7.1
partd==1.1.0
Pillow==6.2.1
plotly==4.9.0
pluggy==0.13.1
portalocker==1.7.1
psutil==5.7.2
py==1.9.0
pyaml==20.4.0
pycosat==0.6.3
pycparser==2.20
PyNaCl==1.4.0
pyOpenSSL==19.1.0
pyparsing==2.4.7
PySocks==1.7.1
pytest==5.4.3
python-dateutil==2.8.1
pytz==2020.1
PyYAML==5.3.1
requests==2.23.0
retrying==1.3.3
ruamel-yaml==0.15.87
s3transfer==0.3.3
scikit-learn==0.22.2.post1
scikit-optimize==0.8.dev0
scipy==1.5.1
six==1.15.0
sortedcontainers==2.2.2
tblib==1.6.0
toolz==0.10.0
torch==1.5.1
tornado==6.0.4
tqdm==4.46.0
typing==3.7.4.3
urllib3==1.25.8
wcwidth==0.2.5
xmltodict==0.12.0
zict==2.0.0
zipp==3.1.0
