attrs==19.1.0
boto3==1.9.187
botocore==1.12.187
Bottleneck==1.2.1
docutils==0.14
fastparquet==0.3.1
fastprogress==0.1.21
jmespath==0.9.4
joblib==0.13.2
jsonschema==3.0.1
kiwisolver==1.1.0
lightgbm==2.3.0
matplotlib==3.1.1
murmurhash==1.0.2
mxboard
numba
numpy==1.17.2
packaging==19.0
pandas==0.24.2
Pillow==6.1.0
pyarrow==0.15.0
pynvx==1.0.0
python-dateutil==2.8.0
pytz==2019.1
PyYAML==5.1.1
s3fs==0.3.1
s3transfer==0.2.1
scikit-learn==0.21.2
scikit-optimize==0.5.2
scipy==1.3.0
tqdm==4.32.2
torch==1.1.0
torchvision==0.3.0
fastai==1.0.55
spacy==2.1.4
