boto3==1.9.187
fastai==1.0.55
fastparquet==0.3.1
joblib==0.13.2
lightgbm==2.3.0
matplotlib==3.1.1
mxboard
numpy==1.17.2
pandas==0.24.2
pyarrow==0.15.0
s3fs==0.3.1
scikit-learn==0.21.2
scikit-optimize==0.5.2
spacy==2.1.4
torch==1.1.0
