name: Check HF Model List

on:
  pull_request:
    types: [labeled, synchronize, opened]
    paths:
      - 'multimodal/tests/**'
      - 'docs/tutorials/multimodal/**'

permissions:
  contents: read

jobs:
  model_list_check:
    runs-on: ubuntu-latest
    steps:
      - name: Check model list
        if: contains(github.event.pull_request.labels.*.name, 'model list checked') == false
        run: |
          echo It appears that you have modified multimodal unit tests/docs. Please make sure to update \"multimodal/tests/hf_model_list.yaml\" to include any model changes and label this PR with \"model list checked\".
          exit 1
