# DO NOT RUN THIS UNLESS PREPARING FOR OFFICIAL PYPI RELEASE SHORTLY AFTER. THIS IS MEANT AS A FINAL SANITY CHECK BEFORE RELEASE.
# This workflow will upload a Python Package using Twine to Test PyPi (Full release)
# For more information see: https://help.github.com/en/actions/language-and-framework-guides/using-python-with-github-actions#publishing-to-package-registries

name: TestPypi Release

on: workflow_dispatch

permissions:
  contents: read

jobs:
  deploy:

    runs-on: ubuntu-18.04

    steps:
    - uses: actions/checkout@master
    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.10'
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install setuptools wheel twine pypandoc packaging
    - name: Build and publish
      env:
        TWINE_USERNAME: ${{ secrets.PYPI_TEST_USERNAME }}
        TWINE_PASSWORD: ${{ secrets.PYPI_TEST_PASSWORD }}
        RELEASE: 1
      run: |
        for v in common core features tabular multimodal timeseries autogluon
        do
          cd "$v"/
          python setup.py sdist bdist_wheel
          twine upload --repository testpypi dist/* --verbose
          cd ..
        done
